# <font color=red >Chapter 3: Datatypes in python </font>
## <font color=blue> 1- Integer (int) </font>

In [66]:
year=1990
month=12
day = 5

In [67]:
type(day)

int

## <font color=blue> 2- float </font>

In [69]:
width=2.5
length=5.4
type(width)

float

## <font color=blue> 3- String (str)</font>
### strings are declared using  <font color=red> "double qoutes" </font>

In [76]:
firstName="Zeinab"
last_name="Ezz"
course="Python"
type(course)

str

### strings are declared using   <font color=red> 'single qoute' </font>

In [78]:
firstName='Zeinab'
last_name='Ezz'
course='Python'
type(course)

str

In [79]:
firstName='Zeinab"

SyntaxError: EOL while scanning string literal (<ipython-input-79-45299768bdd4>, line 1)

# multi-line string

In [125]:
message='''This is a multi-line message
using three single qoutes 
at the start and at the end of the string'''
print(message)

This is a multi-line message
using three single qoutes
at the start and at the end of the string

In [127]:
message="""This is a multi-line message
using three double qoutes 
at the start and at the end of the string"""
print(message)

This is a multi-line message
using three double qoutes
at the start and at the end of the string

## concatenating strings using <font color=red> + </font> operator

In [137]:
firstName='Zeinab'
lastName='Ezz'
fullName=firstName + ' '+ lastName
print(fullName)

Zeinab Ezz

In [139]:
welcomeMsg='Welcome '+ firstName
print(welcomeMsg)

Welcome Zeinab

# String Functions
## <font color=blue> 1- upper </font>

In [85]:
upperFirstName=firstName.upper()
print(upperFirstName)

ZEINAB

In [86]:
"Python course".upper()

'PYTHON COURSE'

## <font color=blue> 2- lower </font>

In [83]:
lowerFirstName=upperFirstName.lower()
print(lowerFirstName)

zeinab

In [84]:
"PYTHON COURSE".lower()

'python course'

## <font color=blue> 3- Formating String using</font> <font color=red>%</font>
### <font color=red> %s </font> string    
### <font color=red> %d </font> integer number
### <font color=red> %5d </font> integer number wih total length 5. if the actual number length is <5, then spaces are added infront of the number.
### <font color=red> %f </font> float number
### <font color=red> %5.3f </font> float number with total length 5 and 3 decimal places


**“string to be formatted”  % (values or variables to be inserted into string, separated by commas)**

In [90]:
brand = 'Apple'
exchangeRate = 1.235235245
message = '''The price of this %s laptop is %d USD 
and the exchange rate is %4.2f USD to 1 EUR''' %(brand, 1299, exchangeRate)
print (message)

The price of this Apple laptop is 1299 USD
and the exchange rate is 1.24 USD to 1 EUR

## <font color=blue> 4- Formating String using</font> <font color=red>format()</font> <font color=blue>function</font>

**“string to be formatted”.format(values or variables to be inserted into string, separated by commas)**

In [96]:
message = 'The price of this {0:s} laptop is {1:d} USD and the exchange rate is {2:4.2f} USD to 1 EUR'.format('Apple', 1299, 1.235235245)
print(message)

The price of this Apple laptop is 1299 USD and the exchange rate is 1.24 USD to 1 EUR

In [100]:
message = 'The price of this {0} laptop is {1} USD and the exchange rate is {2:4.2f} USD to 1 EUR'.format('Apple', 1299, 1.235235245)
print(message)

The price of this Apple laptop is 1299 USD and the exchange rate is 1.24 USD to 1 EUR

In [105]:
message = 'The price of this {} laptop is {} USD and the exchange rate is {:4.2f} USD to 1 EUR'.format('Apple', 1299, 1.235235245)
print(message)

The price of this Apple laptop is 1299 USD and the exchange rate is 1.24 USD to 1 EUR

In [119]:
message = 'The price of this {2} laptop is {0} USD and the exchange rate is {1} USD to 1 EUR'.format('Apple', 1299, 1.235235245)
print(message)

The price of this 1.235235245 laptop is Apple USD and the exchange rate is 1299 USD to 1 EUR

In [123]:
message = 'The price of this {:s} laptop is {:8d} USD and the exchange rate is {:6.2f} USD to 1 EUR'.format('Apple', 1299, 1.235235245)
print(message)

The price of this Apple laptop is     1299 USD and the exchange rate is   1.24 USD to 1 EUR

# Type Casting In Python

In [129]:
f=0.2658
x=int(f)
print(x)
print(int("hello"))

0

ValueError: invalid literal for int() with base 10: 'hello'

In [130]:
print(float(234))
print(float("hi"))

234.0

ValueError: could not convert string to float: 'hi'

In [131]:
print(string(234))
print(string(23.904))

NameError: name 'string' is not defined

# Advanced Data Types (Collections)
## <font color=red>List: </font> is a collection which is ordered and changeable. Allows duplicate members.
### **Lists** are used to **store multiple items** in a single variable.

### **Lists elements** can be of the **same or of different types.**
###  listName = (initial values)

## <font color=blue> Define Lists</font>

In [451]:
lst=[23, 'hello', 56.45, 6.5]

## <font color=blue>Empty List</font>

In [452]:
l=[]

## <font color=blue> Printing Lists </font>

In [453]:
print(lst)

[23, 'hello', 56.45, 6.5]

In [454]:
print(l)

[]

# <font color=blue> Acessing Lists </font>
## <font color=red> List indexing:</font> list indices starts from zero to the length of the list -1

In [455]:
lst[0]    #the first element

23

In [456]:
lst[1]   #the second element

'hello'

In [457]:
lst[2]      #the third element

56.45

In [458]:
lst[3]     # the last element since the list contain 4 elements

6.5

In [459]:
lst[6]    #6: out of range index, since the length contains 4 elements

IndexError: list index out of range

## <font color=red> Negative indexing</font> starts from the last element in the list, its index is -1

In [460]:
lst[-1]     # the last element in the list is accessed also via index -1

6.5

In [461]:
lst[-2]

56.45

In [462]:
lst[-3]

'hello'

In [463]:
lst[-4]       #the first element

23

In [464]:
lst[-5]

IndexError: list index out of range

## <font color=red> List Slicing</font> to access a sublist using <font color=green> [start:end-1] </font> notation

In [465]:
lst[1:4]

['hello', 56.45, 6.5]

In [466]:
x=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x[2:7]

[3, 4, 5, 6, 7]

In [467]:
y=x[:5]           # default start index is 0
print(y)

[1, 2, 3, 4, 5]

In [468]:
x[3:]             #default end index is the size of the list-1

[4, 5, 6, 7, 8, 9, 10]

In [469]:
x[:]            #the whole list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [470]:
x[::2]    # with step =2

[1, 3, 5, 7, 9]

In [471]:
x[1:6:3]         #starts from index 1 to index 6 with step= 3

[2, 5]

## <font color=blue> List Modification</font>  
###  listName[index of item to be modified] = new value

In [472]:
x[5]

6

In [473]:
x[5]='hello'
print(x[5])

hello

In [474]:
print(x)

[1, 2, 3, 4, 5, 'hello', 7, 8, 9, 10]

In [475]:
x[:4]

[1, 2, 3, 4]

In [476]:
x[:4]=[11, 23.5, 'programming', 0]
print(x[:4])

[11, 23.5, 'programming', 0]

In [477]:
x

[11, 23.5, 'programming', 0, 5, 'hello', 7, 8, 9, 10]

# List functions 
## <font color=blue> List Length</font>

In [478]:
len(x)

10

In [479]:
len(lst)

4

## <font color=blue> Adding item to List using </font>  append()  <font color=blue>function</font>

In [480]:
x.append(234)    # add 234 to the end of list x
print(x)

[11, 23.5, 'programming', 0, 5, 'hello', 7, 8, 9, 10, 234]

# <font color=blue> Check Existance </font>
### To check whether an element exist in a list or not, <font color=red> in </font> keyword is used

In [481]:
print(x)

[11, 23.5, 'programming', 0, 5, 'hello', 7, 8, 9, 10, 234]

In [485]:
print (11 in x)

True

In [486]:
print(11.5 in x)

False

## <font color=blue> Removing item from List </font>  
### del listName[index of item to be deleted]

In [487]:
del x[2]
print(x)

[11, 23.5, 0, 5, 'hello', 7, 8, 9, 10, 234]

## <font color=blue> Removing List</font>  
### del listName

In [488]:
del x
print(x)

NameError: name 'x' is not defined

# Advanced Data Types (Collections)
## <font color=blue>Tuple: </font> is a collection which is ordered and unchangeable. Allows duplicate members.
 ### tupleName = (initial values)

## <font color=blue> Define Tuple</font>

In [418]:
monthes=('Jan',1,  'Feb', 2, 'Mar', 3, 'Apr', 4, 'May', 5, 'Jun', 6, 'Jul', 7, 'Aug', 8, 'Sep', 9, 'Oct', 10, 'Nov', 11, 'Dec', 12)

## <font color=blue> Empty Tuple</font>

In [419]:
t=()

## <font color=blue> Printing Tuples </font>

In [420]:
print(monthes)

('Jan', 1, 'Feb', 2, 'Mar', 3, 'Apr', 4, 'May', 5, 'Jun', 6, 'Jul', 7, 'Aug', 8, 'Sep', 9, 'Oct', 10, 'Nov', 11, 'Dec', 12)

In [421]:
print(t)

()

# <font color=blue> Acessing Tuples </font>
## <font color=red> List indexing:</font> Tuple indices starts from zero to the length of the list -1

In [422]:
monthes[0]    #the first element

'Jan'

In [423]:
monthes[1]   #the second element

1

In [424]:
monthes[2]      #the third element

'Feb'

In [425]:
monthes[23]     # the last element since the tuple contain 24 elements

12

In [426]:
monthes[24]    #6: out of range index, since the tuple contains 24 elements

IndexError: tuple index out of range

## <font color=red> Negative indexing</font> starts from the last element in the tuple, its index is -1

In [427]:
monthes[-1]     # the last element in the tuple is accessed also via index -1

12

In [428]:
monthes[-2]       # the second last element on the tuple

'Dec'

In [429]:
monthes[-3]

11

In [430]:
monthes[-24]       #the first element

'Jan'

In [431]:
monthes[-25]

IndexError: tuple index out of range

## <font color=red> Tuple Slicing</font> to access a subtuple using <font color=green> [start:end-1] </font> notation

In [432]:
monthes[1:4]

(1, 'Feb', 2)

In [433]:
days=('sat', 'sun', 'mon', 'tues', 'wed', 'thrus', 'fri')
days[2:7]

('mon', 'tues', 'wed', 'thrus', 'fri')

In [434]:
y=days[:5]           # default start index is 0
print(y)

('sat', 'sun', 'mon', 'tues', 'wed')

In [435]:
days[3:]             #default end index is the size of the list-1

('tues', 'wed', 'thrus', 'fri')

In [436]:
days[:]            #the whole list

('sat', 'sun', 'mon', 'tues', 'wed', 'thrus', 'fri')

In [437]:
days[::2]    # with step =2

('sat', 'mon', 'wed', 'fri')

In [438]:
days[1:6:3]         #starts from index 1 to index 6 with step= 3

('sun', 'wed')

## <font color=blue> Tuple Modification</font>  
###  Tuple elements cannot be modified after created

In [439]:
monthes[5]

3

In [440]:
monthes[5]='hello'
print(monthes[5])

TypeError: 'tuple' object does not support item assignment

In [441]:
monthes[:4]

('Jan', 1, 'Feb', 2)

In [442]:
monthes[:4]=(11, 23.5, 'programming', 0)
print(monthes[:4])

TypeError: 'tuple' object does not support item assignment

# Tuple functions 
## <font color=blue> Tuple Length</font>

In [443]:
len(monthes)

24

In [444]:
len(t)

0

## <font color=blue> Adding item to Tuple </font>
### We cannot add a new item to a tuple after created

In [445]:
monthes[24]=67   # add 67 to the end of tuple monthes
print(monthes)

TypeError: 'tuple' object does not support item assignment

# <font color=blue> Check Existance </font>
### To check whether an element exist in a tuple or not, <font color=red> in </font> keyword is used

In [446]:
print(days)

('sat', 'sun', 'mon', 'tues', 'wed', 'thrus', 'fri')

In [448]:
print ('sat' in days)

True

In [450]:
print('moon' in days)

False

## <font color=blue> Removing item from Tuple </font>  
### Cannot delete any elemant from the tuple

In [256]:
del monthes[2]
print(monthes)

TypeError: 'tuple' object doesn't support item deletion

## <font color=blue> Removing Tuple</font>  
### del tupleName

In [257]:
del monthes
print(monthes)

NameError: name 'monthes' is not defined

# Advanced Data Types (Collections)
## <font color=blue>Set: </font> is a collection which is unordered and unindexed. No duplicate members.
### setName={items}

## <font color=blue> Define Set</font>

In [327]:
numbers={'one', 'two', 2, 2, 'three'}
fruits=set({'orange', 'bananna', 'apple', 'cherry'})

## <font color=blue> Empty Sets</font>

In [328]:
s=set()                  # Note: donot use {} to create empty set

## <font color=blue> Printing Sets </font>

In [329]:
print(numbers)

{'three', 'one', 2, 'two'}

In [330]:
print(fruits)

{'bananna', 'cherry', 'orange', 'apple'}

In [331]:
print(s)

set()

# <font color=blue> Acessing Sets </font>
## We cannot access a certain element by index in a set. This is because sets are unordered thus its element has no index

In [332]:
fruits[0]    #the first element

TypeError: 'set' object is not subscriptable

## <font color=red> Negative indexing</font> sets have no negative indexing

In [333]:
fruits[-1]

TypeError: 'set' object is not subscriptable

## <font color=red> Set Slicing</font> Sets donot support slicing

In [334]:
fruits[1:4]

TypeError: 'set' object is not subscriptable

## <font color=blue> Set Modification</font>  
###  Sets elements cannot be modified after created

In [335]:
fruits[2]='pineapple'

TypeError: 'set' object does not support item assignment

In [336]:
fruits[2:4]={11, 23}

TypeError: 'set' object does not support item assignment

# Sets functions 
## <font color=blue> Sets Length</font>

In [337]:
len(fruits)

4

In [338]:
len(s)

0

## <font color=blue> Adding item to Set using</font>  add() <font color=blue> function</font>

In [339]:
fruits.add('pear')   # add pear to the set fruits
print(fruits)

{'bananna', 'apple', 'cherry', 'orange', 'pear'}

## <font color=blue> Adding multiple items to a set using </font> update()<font color=blue> function</font>

In [340]:
fruits.update({'mango', 'Grape'})
print(fruits)

{'bananna', 'apple', 'cherry', 'mango', 'Grape', 'orange', 'pear'}

# <font color=blue> Check Existance </font>
### To check whether an element exist in a set or not, <font color=red> in </font> keyword is used

In [274]:
print(fruits)

{'bananna', 'cherry', 'orange', 'apple'}

In [275]:
print ('orange' in fruits)

True

In [277]:
print('pineapple' in fruits)

False

## <font color=blue> Removing item from set using</font>   remove() <font color=blue> function.</font>

In [341]:
print(fruits)

{'bananna', 'apple', 'cherry', 'mango', 'Grape', 'orange', 'pear'}

In [342]:
fruits.remove('mango')

In [349]:
fruits.remove('pineapple')          # deleting an unexisted element, an error occurs

KeyError: 'pineapple'

In [344]:
print(fruits)

{'bananna', 'apple', 'cherry', 'Grape', 'orange', 'pear'}

## <font color=blue> Removing item from set using</font>   discard() <font color=blue> function.</font>

In [345]:
print(fruits)

{'bananna', 'apple', 'cherry', 'Grape', 'orange', 'pear'}

In [346]:
fruits.discard('Grape')

In [347]:
fruits.discard('pineapple')         # deleting an unexisted element,, no error occurs

In [348]:
print(fruits)

{'bananna', 'apple', 'cherry', 'orange', 'pear'}

## <font color=blue> Emtpies a Set using </font> clear()<font color=blue> function</font>

In [350]:
fruits.clear()
print(fruits)

set()

## <font color=blue> Removing set</font>  
### del setName

In [351]:
del fruits
print(fruits)

NameError: name 'fruits' is not defined

# Advanced Data Types (Collections)
## <font color=blue>Dictionary: </font>  is a collection which is unordered, changeable and indexed. No duplicate members.

### Dictionary is a collection of related data pair. For example, if we want to store the username and age of 5 users, we can store them in a dictionary.  

### dictionaryName = {dictionary key : data}

## <font color=blue> Define Dictionary</font>

In [397]:
tel={'jack':12345, 'Alex':67890}    #jack is a key with value 12345, ALex is a key with value 67890  

myDict={'Ali':38, "Maha":51, 'Ali':13} # the key Ali had the value 38, then it is replaced with valued 13 

grade={500:60, 501:70, 502:80}     #key can be numbers

x={600:36, 'a':23, 700:'e'}      #both key and value can be number or string in the same dictionary

## <font color=blue>Empty Dictionary</font>

In [398]:
d={}

## <font color=blue> Printing Dictionary </font>

In [399]:
print(myDict)

{'Ali': 13, 'Maha': 51}

In [400]:
print(d)

{}

In [401]:
print(x)

{600: 36, 'a': 23, 700: 'e'}

In [402]:
print(grade)

{500: 60, 501: 70, 502: 80}

# <font color=blue> Acessing Dictionary </font>
## <font color=red> Dictionary indexing:</font> Dictionary indices are its keys

In [403]:
myDict['Maha']    #return the value of the key 'Maha'

51

In [404]:
x[700]   #return the value of the key 700

'e'

In [405]:
x[2]      #ERROR!! since there is no element with key=2 in dictionary x

KeyError: 2

## <font color=blue> Adding item to Dictioary </font>
### dictionaryName[dictionary key] = data

In [406]:
tel['Mona']=87213    # add a new key value pair 
print(tel)

{'jack': 12345, 'Alex': 67890, 'Mona': 87213}

## <font color=blue> Dictionary Modification</font>  
###   dictionaryName[dictionary key of item to be modified] = new data.

In [407]:
x[2]=155      #create new key (2) with value (155) in dictionary (x)
print(x)

{600: 36, 'a': 23, 700: 'e', 2: 155}

In [408]:
x[600]='hello'        #replace the value of key 600 with 'hello'
print(x)

{600: 'hello', 'a': 23, 700: 'e', 2: 155}

In [409]:
myDict['Ali']=26
print(myDict)

{'Ali': 26, 'Maha': 51}

# Dictionary  functions 
## <font color=blue> Dictionary Length</font>

In [410]:
len(x)

4

In [411]:
len(myDict)

2

# <font color=blue> Check Existance </font>
### To check whether an element exist in a dictionary or not, <font color=red> in </font> keyword is used

In [414]:
print(tel)

{'jack': 12345, 'Alex': 67890, 'Mona': 87213}

In [415]:
print ('jack' in tel)

True

In [417]:
print('Martin' in tel)

False

## <font color=blue> Removing item from Dictionary </font>  
### del dictionaryName[dictionary key]

In [412]:
del x[2]
print(x)

{600: 'hello', 'a': 23, 700: 'e'}

## <font color=blue> Removing Dictionary</font>  
### del dictionaryName

In [396]:
del x
print(x)

NameError: name 'x' is not defined